.about-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    margin: 20px;
    display:flex;
    flex-direction: column;
    text-align: center;
    max-width:600px;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic > img {
    border: 2px solid black;
    max-width:250px;
}

.description {
    font-size: 24px;
    color:#ffffff;
    margin:20px;
}

.highlight {
    color:rgb(241, 145, 145)
}

.stack-title {
    color:white;
    font-size: 28px;
}

.tech-stack-wrapper {
    max-width:600px;
    display:flex;
    flex-direction:row;
    margin:20px;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px
}

.tech-icon {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 50px;
}



