footer {
    background-color: #4395a0;
    padding:20px;
    gap:20px;
}

.contact-info {
    display:flex;
    align-items: center;
    gap:5px;
    color:white;
    margin-bottom:5px;
}

.contact-info > img {
    height:50px;
}

.contact-info > a {
    color:white
}