.projects {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.heading {
    color: white;
    justify-self: center;
    align-self: center;
    font-size:48px;
    border-bottom: 5px solid black;
}



.project-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:20px;
    color:white;
    justify-content: center;
}

.project-display {
    display:flex;
    flex-direction: column;
    max-width: 600px;
    max-height:auto;
    align-items: center;
    padding:20px;
    justify-self: center;
    align-self: center;
}

.project-display > img {
    width: 100%;
}

.project-display > h3 {
    align-self: center;
}


.project-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:Left;
    margin-right: 30px;
    margin-left:30px;
    max-width:500px;
}

.project-buttons {
    display: flex;
    justify-content: center;
}

.project-link {
    margin:15px;
    padding:10px;
    font-size: 18px;
    background-color: white;
    border:none;
    color:black;
    font-size:20px;
    transition: 0.3s ease-in-out; 
}

.project-link:hover {
    background-color: black;
    color:white;
}
