@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');


body, html {
    padding:0;
    margin:0;
    background-color:#588157;
    font-family:'Akshar', sans-serif;

}